<h1>Welcome to the Forum</h1>

<%= link_to "new topic", new_topic_path %>
<br>
<br>
<h1>Listing topics</h1>
<% @topic.each do |c| %>
<%= link_to c.title, {:action => 'show', :id => c.id} %>
<% end %>


 <table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>
 
  <% @topic.each do |topic| %>
    <tr>
      <td><%= topic.title %></td>
      <td><%= link_to 'Show', topic_path(topic) %></td>
      <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
      <td><%= link_to 'Destroy', topic_path(topic),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>


    </tr>
  <% end %>
</table>
