<h1>New topic</h1>

<%= form_for :topic, url: topics_path do |f|%>

 <% if @topics.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@topics.errors.count, "error") %> prohibited
        this topic from being saved:
      </h2>
      <ul>
        <% @topics.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
	<p>
<%=f.label :title %><br>
<%=f.text_field :title %>

	</p>

	<p>
		<%=f.submit %>
	</p>

	<p>
		<%= link_to 'Back', topics_path %>
	</p>
<% end %>

