<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
      <% if flash[:just_signed_up] %>
  			<p class="welcome">Welcome to our site!</p>
			<% end %>
    <% end -%>
<%= yield %>

</body>
</html>
